name: Discord Monitor

on:
  schedule:
    - cron: '*/5 * * * *'  # 每5分钟运行一次
  workflow_dispatch:      # 允许手动点按钮运行

permissions:
  contents: write  # 允许写入文件（保存消息ID）

jobs:
  run_monitor:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install libraries
        run: pip install requests

      - name: Run Script
        env:
          DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
          CHANNEL_ID: ${{ secrets.CHANNEL_ID }}
          DINGTALK_URL: ${{ secrets.DINGTALK_URL }}
        run: python monitor.py

      - name: Commit changes
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git add last_msg_id.txt
          git commit -m "Update last ID" || exit 0
          git push
